h3 Change password
form(name='form', novalidate, ng-submit='changePassword()')
  if user
    .row
      label Old password
        input(type='password', ng-model='oldPassword', id='old-pasword', name='old-pasword')
  .row
    label New password
      input(type='password', ng-model='newPassword', id='new-password', name='new-password')
  .row
    label Confirm new password
      input(type='password', ng-model='confirmPassword', id='confirm-password', name='confirm-password')
  .row
    input(type='submit', value='Change password').button.small.radius