doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='app/bower_components/foundation/css/foundation.css')
  body(ng-app='auth')
    .row
      .large-9.columns
        h1 Notes
        .nav-bar.right
          if user
            a(href='logout') log out
          else
            a(href='#login') log in
            |&nbsp;
            a(href='#register') register
    .row
      .large-9.columns(ng-view='')
    script(src='app/bower_components/angular/angular.js')
    script(src='app/bower_components/angular-resource/angular-resource.js')
    script(src='app/bower_components/angular-cookies/angular-cookies.js')
    script(src='app/bower_components/angular-sanitize/angular-sanitize.js')
    script(src='app/bower_components/angular-route/angular-route.js')

    script(src='scripts/auth.js')
    script(src='scripts/controllers/account-login.js')
    script(src='scripts/controllers/register.js')
    script(src='scripts/controllers/change-password.js')
    script(src='scripts/controllers/reset-password.js')
    script(src='scripts/directives/ng-match.js')
    script(src='scripts/directives/unique-username.js')
    script(src='scripts/services/auth.js')
    script(src='scripts/modules/validation/validation.js')
    script(src='scripts/modules/validation/directives/focused.js')