h3 Register new user
form(name='form', ng-submit='register()', novalidate='')
  .row
    .username-field(ng-class='{error: form.username.$dirty && !form.username.$valid}')
      label User name
        input(type='text', ng-model='user.username' id='username', name='username', placeholder='User name', required='', ng-minlength='6' ng-trim='true', unique-username='')
      small.error(ng-show='form.username.$dirty && form.username.$error.required')
        |User name is required
      small.error(ng-show='form.username.$dirty && form.username.$error.ng-minlength')
        |User name is too short, it must have at least 6 characters
      small.error(ng-show='form.username.$dirty && form.username.$error[username-not-available]')
  .row
    .email-field(ng-class='{error: form.email.$dirty && !form.email.$valid}')
      label Email
        input(type='email', ng-model='user.email' id='email', name='email', placeholder='Email' required='')
      small.error(ng-show='form.email.$dirty && form.email.$error.required')
        |Email address is required
      small.error(ng-show='form.email.$dirty && form.email.$error.email')
        |It is not a valid email address
  .row
    .password-field(ng-class='{error: form.password.$dirty && !form.password.$valid}')
      label Password
        input(type='password', ng-model='user.password' id='password', name='password', placeholder='Password', ng-minlength='6' required='', val-focused='')
      small.error(ng-show='form.password.$dirty && form.password.$error.required')
        |Password is required
      small.error(ng-show='form.password.$dirty && form.password.$error.minlength')
        |Password is too short, it must have at least 6 characters
      small(ng-show='form.password.$focused') now it's focused
  .row
    .password-confirm-field(ng-class='{error: form[\'password-confirm\'].$dirty && !form[\'password-confirm\'].$valid}')
      label Confirm password
        input(type='password', ng-model='user.confirmPassword' id='password-confirm', name='password-confirm' placeholder='Confirm password', required='' ng-match='user.password')
      small.error(ng-show='form[\'password-confirm\'].$dirty && form[\'password-confirm\'].$error.required')
        |Confirm your password
      small.error(ng-show='form[\'password-confirm\'].$dirty && form[\'password-confirm\'].$error.match')
        |Password doesn't match
  .row
    input(type='submit', value='Register').button.small.radius
