h3 Forgot password
form(name='form')
  .row
    .input-wrapper.error
      label User name
        input(type='text', id='username', name='username', placeholder='User name')
      small.error User name contains illegal characters
  .row.text-center
    |Or
  .row
    label.error Email
      input(type='email', id='email', name='email', placeholder='Email')
    small.error Invalid email address
  .row
    input(type='submit', value='Reset password').button.small.radius