h3 Forgot password
form(name='form')
  .row
    .input-wrapper.error(ng-class='{error: form.username.$dirty && !form.username.$valid}')
      label User name
        input(type='text', ng-model='user.username', id='username', name='username', placeholder='User name', ng-pattern='^\w*$')
      small.error(ng-show='form.username.$dirty && form.username.$error.pattern')
        |User name contains illegal characters
  .row.text-center
    |Or
  .row
    label.error Email
      input(type='email', id='email', name='email', placeholder='Email')
    small.error Invalid email address
  .row
    input(type='submit', value='Reset password').button.small.radius