doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // bower:css
    link(rel='stylesheet', href='../app/bower_components/foundation/css/foundation.css')
    // endbower
  body(ng-app='notes2App')
    .row
      .large-9.columns
        if currentUser
          p #{currentUser.displayName}
          a(href='/logout') logout
        else
          a(href='/#login') login
    .row
      block content

    // bower:js
    script(src='../app/bower_components/modernizr/modernizr.js')
    script(src='../app/bower_components/jquery/jquery.js')
    script(src='../app/bower_components/es5-shim/es5-shim.js')
    script(src='../app/bower_components/angular/angular.js')
    script(src='../app/bower_components/json3/lib/json3.min.js')
    script(src='../app/bower_components/angular-resource/angular-resource.js')
    script(src='../app/bower_components/angular-cookies/angular-cookies.js')
    script(src='../app/bower_components/angular-sanitize/angular-sanitize.js')
    script(src='../app/bower_components/angular-route/angular-route.js')
    script(src='../app/bower_components/fastclick/lib/fastclick.js')
    script(src='../app/bower_components/jquery.cookie/jquery.cookie.js')
    script(src='../app/bower_components/foundation/js/foundation.js')
    // endbower

    //- PRINT_SCRIPTS
    script(type='text/javascript', src='scripts/app.js')
    script(type='text/javascript', src='scripts/auth.js')
    script(type='text/javascript', src='scripts/controllers/account-login.js')
    script(type='text/javascript', src='scripts/controllers/change-password.js')
    script(type='text/javascript', src='scripts/controllers/main.js')
    script(type='text/javascript', src='scripts/controllers/notes-create.js')
    script(type='text/javascript', src='scripts/controllers/notes-list.js')
    script(type='text/javascript', src='scripts/controllers/register.js')
    script(type='text/javascript', src='scripts/controllers/reset-password.js')
    script(type='text/javascript', src='scripts/directives/ng-match.js')
    script(type='text/javascript', src='scripts/directives/unique-username.js')
    script(type='text/javascript', src='scripts/modules/validation/directives/focused.js')
    script(type='text/javascript', src='scripts/modules/validation/validation.js')
    script(type='text/javascript', src='scripts/services/auth.js')
    script(type='text/javascript', src='scripts/services/note.js')
    //- END_PRINT_SCRIPTS