doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include bower-css.html
  body
    block content

    //
      todo precompile jade files into html 
      and then use bower-install task to add
      js and css files
    include bower-js.html