doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include partials/styles.html
  body(ng-app='notes2App')
    .row
      .large-3.columns
        h1 Notes
      .large-9.columns
        .right
            if currentUser
              span #{currentUser.displayName} &nbsp;
              a(href='/logout').button logout
            else
              a(href='/#login').button login
    .row
      block content

    script(type='text/ng-template' id='deleteModalContent.html')
      div
        h3 Delete
        p Are you sure you want to delet this note?
        .right
          button.button(ng-click='remove()').alert.small.radius Delete
          |&nbsp;
          button.button(ng-click='cancel()').secondary.small.radius Cancel
    include partials/scripts.html
