doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='app/bower_components/foundation/css/foundation.css')
  body
    .row
      .large-9.columns
        //- if currentUser
        //-   p #{currentUser.displayName}
        //-   a(href='/logout') logout
        //- else
        //-   a(href='/login') login
    .row
      .large-9.columns(ng-view='')
        form(name='form')
          .row
            label(for='username') User name
            input(type='text', id='username' name='username', placeholder='User name')
          .row
            label(for='password') Password
            input(type='password', id='password', name='password', placeholder='Password')
          .row
            input(type='submit', value='Log in').button
            |&nbsp; or login with: &nbsp;
            a(href='/auth/google').button.google Google
            a(href='/auth/facebook').button.facebook Facebook