extends layout

block content
  form(name='form')
    .row
      label(for='username') User name
      input(type='text', id='username' name='username', placeholder='User name')
    .row
      label(for='password') Password
      input(type='password', id='password', name='password', placeholder='Password')
    .row
      input(type='submit', value='Log in').button
      |&nbsp; or login with: &nbsp;
      a(href='/auth/google').button.google Google
      a(href='/auth/facebook').button.facebook Facebook