form(ng-submit='save()', name='form', novalidate='')
  .row
    .large-12.columns
      label(for='title') Title
      input(type='text', name='title', placeholder='Title', ng-model='note.title', required='')
      validation-message(val-message-for='title',
                         required='Title is required')
  .row
    .large-12.columns
      label(for='note') Note
      textarea(placeholder='Your note', ng-model='note.content')
  .row
    .large-12.columns
      input(type='submit' value='Save').button.small.radius
      |&nbsp;
      input(type='button' ng-click='cancel()' value='Cancel').button.secondary.small.radius